# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic & Environment Files
.env
.env.local
.env.*.local
*.env

# Dependency directories
node_modules/
*/node_modules/

# Production build outputs
dist/
dist-ssr/
build/
*/dist/

# Database data & Local storage
.db_data/
*/.db_data/
uploads/
*/uploads/*
!*/uploads/.gitkeep

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
